.note-container {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.note-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.note {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.note-text {
    overflow: hidden;
    max-height: 60px;
    transition: max-height 2s ease-out;
    position: relative;
}

.note-text.expand {
    max-height: none;
}

textarea {
    border-radius: 5px;
}
