<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/fichePatient.css}" rel="stylesheet" />
    <title>Medilabo - Patient</title>
</head>
<body>
<div th:insert="~{fragments/headerLogged :: header}"></div>
<div class="commun-container">
  <div class="commun-form">
    <h2>Fiche Patient</h2>
    <h3>Mise à jour</h3>
    <form  id ="updatePatient" th:action="@{/patients/{id}/update(id=${patient.idPatient})}" th:object="${patient}" method="post">
      <input type="hidden" id="patientId" name="patientId" th:value="${patient.idPatient}" />
      <div class="form-group">
        <label for="prenom">Prénom*</label>
        <input type="text" id="prenom" name="prenom" placeholder="Saisissez le prénom" th:field="*{prenom}" required>
      </div>
      <div class="form-group">
        <label for="nom">Nom*</label>
        <input type="text" id="nom" name="nom" placeholder="Saisissez le nom" th:field="*{nom}" required>
      </div>

      <div class="form-group">
        <label for="nom">Genre*</label>
        <select class="custom-select" id="genre" name="genre" th:field="*{genre}" required>
          <option value="HOMME">Homme</option>
          <option value="FEMME">Femme</option>
          <option value="NON_BINAIRE">Autre</option>
        </select>
      </div>
      <div class="form-group">
        <label for="rue">Rue</label>
        <input type="text" id="rue" name="rue" th:field="*{rue}" placeholder="Saisissez l'adresse" >
      </div>
      <div class="form-group">
        <label for="codePostal">Code Postal</label>
        <input type="text" id="codePostal" name="codePostal" th:field="*{codePostal}" placeholder="Saisissez le code postal" >
      </div>
      <div class="form-group">
        <label for="ville">Ville</label>
        <input type="text" id="ville" name="ville" th:field="*{ville}" placeholder="Saisissez la ville" >
      </div>
      <div class="form-group">
        <label for="telephone">Téléphone</label>
        <input type="text" id="telephone" name="telephone" placeholder="Saisissez le numéro" th:field="*{telephone}">
      </div>
      <div class="form-group">
        <button type="submit">Enregistrer</button>
      </div>
    </form>
  </div>
  <div class="commun-form">
    <h2>Historique Patient</h2>
    <form  th:action="@{/doctor/addNote/{id}(id=${patient.idPatient})}" th:object="${note}" method="get">
      <div th:each="note : ${notes}" class="note-container">
        <div class="note-header">
          <div>
            <strong th:text="${note.docteur}"></strong>
          </div>
          <div th:text="${#dates.format(note.date, 'EEEE d MMMM yyyy')}" required></div>
        </div>
        <div class="note-text" th:text="${note.texte}"></div>
      </div>
      <div class="form-group">
        <button type="submit">Ajouter une note</button>
      </div>
    </form>
  </div>
</div>
<script>
  // Script JavaScript pour gérer l'expansion de la zone de texte des notes
  document.querySelectorAll('.note-text').forEach(function(noteText) {
    noteText.addEventListener('click', function() {
      this.classList.toggle('expand');
    });
  });
</script>
</body>
</html>